.btn {
    border-radius: $radius-lg;
    padding: 14px 20px;
    border: none;
    position: relative;
    white-space: nowrap;
    font-size: $font-size-md;
    font-weight: $font-800;
    line-height: $line-height-20;
    text-transform: uppercase;

    &:hover,
    &:focus {
        outline: none;
    }

    &.with-icon {
        display: inline-flex;
        justify-content: center;
        align-items: center;

        span {
            font-size: $font-size-xl;
        }
    }

    svg {
        height: 20px;
        width: 20px;
    }

    //SIZES
    &.btn-xs {
        height: 36px;
        width: 36px;
        border-radius: 5px;
        padding: 5px;
    }

    &.btn-sm {
        padding: 7px 10px;
        border-radius: 5px;
        &.radius-0{
            border-radius: 0;
        }
    }

    &.btn-small-1 {
        padding: 10px 10px;
        height: auto;
        font-size: $font-size-sm;
    }

    &.btn-md {
        padding: 15px 30px;
        height: auto;
        font-size: $font-size-md;
    }

    &.btn-lg {
        height: 60px;
        width: 60px;
        padding: 15px;
        border-radius: 0;

        span {
            font-size: $font-size-26;
        }
    }

    &.btn-xl {
        height: 88px;
        width: 92%;
        margin-bottom: 5px;

        &.btn-light {
            font-size: $font-size-30;
            font-weight: $font-800;
            text-transform: uppercase;
        }

        &.border-d3 {
            border: 1px solid $grey-5;
        }

        &.btn {
            padding: 14px 7px;
        }
    }

    &.btn-xxl {
        height: 180px;
        width: 92%;

        &.border-d3 {
            border: 1px solid $grey-5;
        }

        &.btn-light {
            font-size: $font-size-16;
            font-weight: $font-800;
            text-transform: uppercase;
        }

        &.btn {
            padding: 14px 8px;
        }
    }

    &.btn-h30 {
        padding: 5px 20px;
        border-radius: 3px;
        text-transform: capitalize;
        font-weight: $font-400;
    }

    &.btn-h35 {
        padding: 7px 20px;
        border-radius: $radius-sm;
    }

    &.btn-h40 {
        padding: 10px 20px;
    }

    &.btn-h66 {
        padding: 23px 20px;
        font-size: $font-size-22;
        font-weight: $font-600;
    }

    &.btn-blue {
        background-color: $secondary;
        color: $white;

        &:hover,
        &:focus {
            background-color: $grey-5;
            color: $black;
        }
    }

    &.btn-grey1 {
        background-color: $grey-1;
        color: $white;

        &:hover,
        &:focus {
            background-color: $grey-5;
            color: $black;
        }
    }

    &.btn-lightblue4 {
        background-color: $light-blue-4;
        color: $primary;

        &:hover,
        &:focus {
            background-color: $grey-5;
            color: $black;
        }
    }

    &.btn-lightblue3 {
        background-color: $light-blue-3;
        border: $border-grey5;
        color: $black;

        &:hover,
        &:focus {
            background-color: $grey-5;
            color: $black;
        }
    }

    &.btn-inventory-primary {
        background-color: $primary;
        color: $white;

        &:hover,
        &:focus {
            background-color: $grey-5;
            color: $black;
        }
    }

    &.bg-primary-rgba {

        &:hover,
        &:focus {
            background-color: $grey-5;
            color: $black;
        }
    }

    &.bg-black-rgba {

        &:hover,
        &:focus {
            background-color: $grey-5;
            color: $black;
        }
    }

    &.btn-primary {
        background-color: $primary;
        width: 48px;
        border-radius: 0;
        padding: 10px 12px;
        color: $white;

        &:hover {
            background-color: $grey-5;
            color: $black;
        }

        &.secondary {
            background-color: $secondary;
            padding: 5px 12px;
            color: $white;

            &:hover {
                background-color: $grey-5;
                color: $black;
            }

            &.light-blue-3 {
                background-color: $light-blue-3;
                color: rgb(0, 0, 0, 0.6);

                &:hover {
                    background-color: $grey-5;
                    color: $black;
                }
            }
        }
    }

    &.btn-new-ticket {
        background-color: $primary;
        font-size: $font-size-sm;
        color: $white;
        border-radius: 30px;

        &:hover {
            background-color: $grey-5;
            color: $black;

            svg {
                fill: $black;
            }
        }

        svg {
            fill: $white;
            margin-right: 5px;
        }
    }

    &.btn-dark {
        background-color: $black;
        padding: 15px;

        &:hover,
        &:focus {
            background-color: $grey-5;
            color: $black;

            svg {
                fill: #000;
            }
        }

        &.filter-close-btn {
            border-radius: 10px 0 0 10px;
        }

        &.modal-close-btn {
            border-radius: 0 10px 10px 0;
        }

        &.padding-5 {
            padding: 5px;
        }

        &.border-left-btn {
            height: 30px;
            border-radius: 0 0 0 10px;
            font-size: $font-size-sm;
            font-weight: $font-600;
            padding: 5px 10px;
        }
    }

    &.btn-skyblue {
        background-color: $light-blue-3;
        padding: 15px;

        &:hover,
        &:focus {
            color: $secondary;
        }
    }

    &.btn-grey {
        background-color: $grey-5;

        &:hover,
        &:focus {
            background-color: $secondary;
            color: $white;

            svg {
                fill: #fff;
            }
        }
    }

    &.btn-light {
        background-color: $grey-4;
        color: $black;
        font-size: $font-size-16;
        font-weight: $font-700;
        text-transform: capitalize;

        &:hover,
        &:focus {
            background-color: $grey-1;
            color: $white;
        }

        &.btn-print {
            text-transform: uppercase;
            font-size: $font-size-md;
        }
    }

    &.btn-border {
        background-color: $white;
        border: 1px solid $grey-5;
        padding: 5px 10px;
        font-size: $font-size-sm;
        font-weight: $font-700;
        text-transform: $text-uppercase;

        img {
            height: 20px;
            width: 20px;
        }

        span {
            font-size: 20px;
        }

        &:hover {
            border: 1px solid $black;
        }
    }

    &.btn-topborder {
        background-color: $white;
        color: $black;
        font-size: $font-size-16;
        font-weight: $font-800;
        text-transform: $text-uppercase;
        border-radius: 10px 10px 0 0;

        &:hover {
            background-color: $black;
            color: $white;
        }

        &.btn-topborder-blue {
            font-size: $font-size-md;

            &:hover {
                background-color: $secondary;
                color: $white;
            }
        }

        &.btn-sm {
            padding: 10px;
            font-size: $font-size-md;
        }

        &.bg-white-rgba2 {
            background-color: $white-rgba2;
            color: $white;
        }
    }

    &.btn-tabbing-border {
        font-size: $font-size-md;
        font-weight: $font-800;
        color: $grey-1;
        border: 2px solid $grey-3;
        border-radius: $radius-sm;
        padding: 6px 15px;

        &:hover {
            background-color: $black;
            color: $white;
        }
    }

    &.btn-calender {
        background-color: white;
        color: $grey-8;
        font-size: $font-size-16;
        font-weight: $font-700;
        text-transform: capitalize;
        padding: 15px;

        &:hover {
            background-color: $grey-1;
            color: $white;
        }
    }
}

.arrow-btn {
    .btn {
        padding: 12px 18px;

        span {
            font-size: 20px;
            height: 20px;
            width: 12px;
            font-weight: $font-200;
        }
    }
}

.bottom-button-right {
    .menu-btn {
        background-color: $primary;
        color: $white;

        svg {
            fill: $white;
        }
    }
}

.menu-btn {
    background-color: $light-blue-3;
    color: $secondary;
    border-radius: 30px;

    .btn {
        padding: 7px;

        &.list {
            border-radius: 30px 0 0 30px;
        }

        &.grid {
            border-radius: 0 30px 30px 0;
        }

        &:hover {
            background-color: $orange;
            color: $white;
        }
    }
}

.action-btn {
    .btn {
        background-color: $light-blue-4;
        max-width: 10%;
        font-size: $font-size-sm;
        color: $primary;
        font-weight: $font-800;
        text-transform: $text-uppercase;
        display: inline-block;
        word-wrap: break-word;
        word-break: break-word;
        white-space: inherit;
        max-width: 120px;
    }
}

.calender-group-btn {
    .btn {
        height: 50px;
        width: 80px;
        color: $grey-1;
        padding: 0;

        &.btn-light {
            text-transform: $text-uppercase;
            font-size: $font-size-md;
            font-weight: $font-800;

            &:hover,
            &:focus {
                color: $secondary;
                background-color: $grey-4;
            }
        }
    }
}

.ticket-box {
    background-color: $white;
    box-shadow: $shadow-lg;
    width: 80px;
    height: 60px;
}

.status-btn-group {
    .btn {
        text-transform: none;
        padding: 0;

        &.btn-skyblue {
            padding: 0 15px;
        }
    }
}

@media (max-width : 1024px) {
    .btn {
        &.btn-md {
            font-size: $font-size-sm;
            padding: 15px;
        }

        &.btn-xl {
            height: 45px;
            width: 45px;

            &.btn-light {
                font-size: $font-size-24;
            }
        }

        &.btn-xxl {
            height: 95px;
            width: 45px;

            &.btn-light {
                font-size: $font-size-sm;
            }

            &.btn {
                padding: 14px 0;
            }
        }
    }
}


button.card-material-group {
    height: 100px;
    //width: 12%;
    width: 220px;
    background-color: $white;
    border-radius: $radius-lg;
    box-shadow: $shadow-md;

    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        word-wrap: break-word;
        word-break: break-word;
    }

    &:hover {
        background-color: $light-blue-1;
    }
}


button.card-material-group-big {
    height: 160px;
    //width: 12%;
    width: 220px;
    background-color: $white;
    border-radius: $radius-lg;
    box-shadow: $shadow-md;

    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        word-wrap: break-word;
        word-break: break-word;
        font-size: 18px;
    }

    &:hover {
        background-color: $light-blue-1;
    }
}






/* OSK STYLE */
.ticketItemCurrent {
    background-color: #f0f5fe;
}

$color_1: #000;
$color_2: Blue;

div.osk {
    #numberPad {
        input[type='button'] {
            background: #f7f7f7;
            border-radius: 10px;
            border: 1px solid #d3d3d3;

            &:hover {
                background: $grey-5;
            }
        }
    }

    #keyboard {
        input[type='button'] {
            background: #f7f7f7;
            border-radius: 10px;
            border: 1px solid #d3d3d3;

            &:hover {
                background: $grey-5;
            }
        }
    }
}

div.osk {
    height: 286px;
    z-index: 1015;

    a {
        color: $color_1;
        text-decoration: none;
    }

    #numberPad {
        position: relative;
        float: right;
        width: 252px;
        margin-top: 10px;
        margin-right: 10px;
    }

    #keyboard {
        position: relative;
        float: right;
        width: 735px;
        margin-top: 10px;
        margin-right: 20px;
    }

    .key {
        width: 57px;
        height: 61px;
        margin: 3px;
        float: right;
        font-size: 26px;
        text-align: left;
        padding-left: 8px;
        padding-bottom: 15px;
    }

    .keyPlusMinus {
        width: 57px;
        height: 61px;
        margin: 3px;
        float: right;
        font-size: 26px;
        text-align: left;
        padding-left: 8px;
        padding-bottom: 15px;
    }

    .key_numpad_delete {
        width: 57px;
        height: 61px;
        margin: 3px;
        float: right;
        font-size: 16px;
        text-align: left;
        padding-left: 8px;
        padding-bottom: 15px;
    }

    .key_numpad_enter {
        width: 57px;
        height: 128px;
        margin: 3px;
        float: right;
        font-size: 16px;
        padding-bottom: 75px;
    }

    .key_delete {
        width: 87px;
        height: 61px;
        margin: 3px;
        float: right;
        font-size: 16px;
        text-align: left;
        padding-left: 8px;
        padding-bottom: 15px;
    }

    .key_enter {
        width: 120px;
        height: 61px;
        margin: 3px;
        float: right;
        font-size: 16px;
        text-align: left;
        padding-left: 8px;
        padding-bottom: 15px;
    }

    .key_shift {
        width: 50px;
        height: 61px;
        margin: 3px;
        float: right;
        font-size: 16px;
        text-align: left;
        padding-left: 8px;
        padding-bottom: 15px;
    }

    .key_shift_active {
        color: $color_2;
        width: 50px;
        height: 61px;
        margin: 3px;
        float: right;
        font-size: 16px;
        text-align: left;
        padding-left: 8px;
        padding-bottom: 15px;
    }

    .key_shift_small {
        width: 95px;
        height: 61px;
        margin: 3px;
        float: right;
        font-size: 16px;
        text-align: left;
        padding-left: 8px;
        padding-bottom: 15px;
    }

    .key_shift_small_active {
        color: $color_2;
        width: 95px;
        height: 61px;
        margin: 3px;
        float: right;
        font-size: 16px;
        text-align: left;
        padding-left: 8px;
        padding-bottom: 15px;
    }

    .key_tab {
        width: 87px;
        height: 61px;
        margin: 3px;
        float: right;
        font-size: 16px;
        text-align: left;
        padding-left: 8px;
        padding-bottom: 15px;
    }

    .key_space {
        width: 272px;
        height: 61px;
        margin: 3px;
        float: right;
    }
}


#oskClose {
    display: none;
    bottom: 290px;
    height: 40px;
    z-index: 2000;
    cursor: pointer;
    position: absolute;
    left: 0px;
    width: 20px;
    background: url(../../../images/icons/osk_hide.png) center center no-repeat;
}

#oskOpen {
    bottom: 290px;
    height: 40px;
    z-index: 2000;
    cursor: pointer;
    position: absolute;
    right: 0px;
    width: 20px;
    background: url(../../../images/icons/osk_show.png) center center no-repeat;
}


.btn {
    text-transform: capitalize;
}
